Repository cert-manager/testing, pull requests merged in 2019-11, with the labels that each got.

#307 Enable repo automation for cert-manager/website
  config/config.yaml
  config/jobs/cert-manager/website/cert-manager-website-presubmits.yaml
  config/plugins.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/M

#308 Use node:13.0.1 image for website tests
  config/jobs/cert-manager/website/cert-manager-website-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes

#309 Enable tide for cert-manager/website
  config/config.yaml
Labels: approved, dco-signoff: yes, size/XS

#310 Add presubmit for preflight
  config/jobs/preflight/OWNERS
  config/jobs/preflight/preflight-presubmits.yaml
Labels: approved, dco-signoff: yes, lgtm, size/M

#306 Updates golang-dind go version to 1.13.4
  images/golang-dind/Dockerfile
  images/golang-dind/build.yaml
Labels: approved, area/kube-oidc-proxy, dco-signoff: yes, lgtm, size/M

#312 Add cert-manager release-0.12 periodic job
  config/jobs/cert-manager/releases/cert-manager-release-periodics.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/M

#311 Bump golang version to 1.13.4 for preflight jobs
  config/jobs/preflight/preflight-presubmits.yaml
Labels: approved, dco-signoff: yes, lgtm, size/XS

#314 Run verify-release.sh instead of verify script
  config/jobs/cert-manager/website/cert-manager-website-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/XS

#315 Add golang-nodejs image
  config/jobs/testing/testing-trusted.yaml
  images/golang-nodejs/Dockerfile
  images/golang-nodejs/build.yaml
Labels: approved, area/testing, dco-signoff: yes, lgtm, size/M

#316 Use golang-nodejs image for cert-manager/website
  config/jobs/cert-manager/website/cert-manager-website-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes
