Repository cert-manager/testing, pull requests merged in 2019-05, with the labels that each got.

#236 Add cert-manager release smoke test presubmit
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/M

#237 Add SKIP_MANIFESTS to release jobs
  config/jobs/cert-manager/cert-manager-postsubmits.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/S

#238 Run release tool directly
  config/jobs/cert-manager/cert-manager-postsubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/S

#239 Update v0.8 release postsubmit
  config/jobs/cert-manager/cert-manager-postsubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/S

#240 Bump bazelbuild experimental variant to 0.25.0
  images/bazelbuild/build.yaml
Labels: approved, area/testing, dco-signoff: yes, lgtm, size/XS

#242 Enable cherrypick plugin
  config/plugins.yaml
  prow/cluster/BUILD.bazel
  prow/cluster/cherrypick_deployment.yaml
  prow/cluster/cherrypick_service.yaml
Labels: approved, area/prow, dco-signoff: yes, lgtm, size/M

#243 Enable labelsync for cert-manager-webhook-example
  prow/cluster/labelsync_cronjob.yaml
Labels: approved, area/prow, dco-signoff: yes, lgtm, size/XS

#244 Remove deprecated --experimental_remote_spawn_cache option
  images/bazelbuild/create_bazel_cache_rcs.sh
Labels: approved, area/testing, dco-signoff: yes, lgtm, size/XS

#246 Upgrade to latest golang 1.11 release
  config/jobs/tarmak/tarmak-presubmits.yaml
Labels: approved, area/tarmak, dco-signoff: yes, lgtm, size/XS
