Repository cert-manager/testing, pull requests merged in 2019-08, with the labels that each got.

#268 Add bazelbuild 0.28.1
  images/bazelbuild/build.yaml
Labels: approved, area/testing, dco-signoff: yes, size/XS

#267 cert-manager updates for v0.10.0 builds
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-postsubmits.yaml
  config/jobs/cert-manager/releases/cert-manager-release-0.8.yaml
  config/jobs/cert-manager/releases/cert-manager-release-0.9.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, size/L

#274 Fix checkconfig presubmit
  config/jobs/testing/testing-presubmits.yaml
Labels: approved, area/testing, dco-signoff: yes, size/XS

#273 Adds milestone applier plugins to cert-manager & kube-oidc-proxy
  config/plugins.yaml
Labels: approved, dco-signoff: yes, lgtm, size/S

#275 Revert cert-manager bazelbuild bump
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, size/S

#276 Bump images
  config/config.yaml
Labels: approved, dco-signoff: yes, lgtm, size/S

#277 Bump Prow again and fix sinker deployment manifest
  config/config.yaml
  config/jobs/testing/testing-presubmits.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/pipeline_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/version
Labels: approved, area/prow, area/testing, dco-signoff: yes, lgtm, size/M

#278 Scale down Tekton components + revert cert-manager bazelbuild bump
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-postsubmits.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/pipeline_deployment.yaml
Labels: approved, area/cert-manager, area/prow, dco-signoff: yes, lgtm, size/S
