Repository cert-manager/testing, pull requests merged in 2019-09, with the labels that each got.

#279 Fix scraping for plank
  prow/cluster/plank_deployment.yaml
Labels: approved, area/prow, dco-signoff: yes, lgtm, size/XS

#280 Update config for cert-manager v0.11
  config/jobs/cert-manager/cert-manager-postsubmits.yaml
  config/jobs/cert-manager/releases/cert-manager-release-0.10.yaml
  config/plugins.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/M

#281 Add ndots config to all cert-manager jobs
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-postsubmits.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, size/M

#282 Move all cert-manager jobs to new 'gke' cluster
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/releases/cert-manager-release-0.10.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, size/S

#283 Add 0.29.1 bazelbuild image
  images/bazelbuild/build.yaml
Labels: approved, area/testing, dco-signoff: yes, lgtm, size/XS

#285 Add experimental cert-manager bazel job
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/M

#286 Bump cert-manager jobs to 0.29.1
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-postsubmits.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/M

#287 Add bazel 1.0.0rc3 image
  images/bazelbuild/Dockerfile
  images/bazelbuild/build.yaml
Labels: approved, area/testing, dco-signoff: yes, lgtm, size/S

#288 Rollback cert-manager previous release job to bazel 0.24.1
  config/jobs/cert-manager/cert-manager-postsubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/XS
