Repository cert-manager/testing, pull requests merged in 2019-07, with the labels that each got.

#253 Adds kube-oidc-proxy v1.15 e2e test + default
  config/jobs/kube-oidc-proxy/kube-oidc-proxy-presubmits.yaml
Labels: approved, area/kube-oidc-proxy, dco-signoff: yes, lgtm, size/M

#254 Bump Prow to v20190628-ac9063df1
  config/config.yaml
  config/jobs/testing/testing-presubmits.yaml
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/cherrypick_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/version
Labels: approved, area/prow, area/testing, dco-signoff: yes, lgtm, size/M

#255 Update spyglass lens names
  config/config.yaml
Labels: approved, dco-signoff: yes, lgtm, size/XS

#256 Bump bazelbuild images
  images/bazelbuild/build.yaml
Labels: approved, area/testing, dco-signoff: yes, lgtm, size/S

#257 cert-manager: add v0.9 postsubmit
  config/jobs/cert-manager/cert-manager-postsubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/M

#260 Add prometheus scrape annotations
  prow/cluster/hook_service.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/pushgateway.yaml
Labels: approved, area/prow, dco-signoff: yes, lgtm, size/XS

#261 Add 1.14, 1.15 and 1.16 cert-manager e2e jobs
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/L

#259 Update Terraform
  images/terraform-google-gke-cluster/Dockerfile
Labels: approved, area/terraform-gke, dco-signoff: yes, lgtm, size/S

#263 Remove custom triggers and rerun command + remove old presubmits
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/venafi-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/M

#264 Bump cert-manager e2e job requests to 6 CPUs and 12Gi memory
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/L

#265 kube-oidc-proxy requests and e2e triggers
  config/jobs/kube-oidc-proxy/kube-oidc-proxy-presubmits.yaml
Labels: approved, area/kube-oidc-proxy, dco-signoff: yes, lgtm, size/M

#266 Remove ci-flightdeck-production-e2e
  config/jobs/flightdeck/flightdeck-periodics.yaml
Labels: approved, area/flightdeck, dco-signoff: yes, lgtm, size/S

#269 kube-oidc-proxy: Set e2e test non-optional
  config/jobs/kube-oidc-proxy/kube-oidc-proxy-presubmits.yaml
Labels: approved, area/kube-oidc-proxy, dco-signoff: yes, lgtm, size/XS
