Repository cert-manager/testing, pull requests merged in 2019-06, with the labels that each got.

#247 Add prow autobumping script + bump prow
  config/config.yaml
  config/jobs/testing/testing-presubmits.yaml
  prow/bump/BUILD.bazel
  prow/bump/main.go
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/cherrypick_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/version
Labels: approved, area/prow, area/testing, dco-signoff: yes, lgtm, size/L

#248 Add release-0.8 presubmits and remove release-0.7
  config/jobs/cert-manager/releases/cert-manager-release-0.8.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/S

#249 Require more CPUs and memory for cert-manager e2e
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/releases/cert-manager-release-0.8.yaml
  config/jobs/cert-manager/venafi-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/M

#250 Update experimental image to use bazel 0.27.0
  images/bazelbuild/build.yaml
Labels: approved, area/testing, dco-signoff: yes, lgtm, size/XS

#251 Upgrade tarmak golang to 1.11.111
  config/jobs/tarmak/tarmak-presubmits.yaml
Labels: approved, area/tarmak, dco-signoff: yes, lgtm, size/XS

#252 Upgrade tarmak persubmits for release-0.7
  config/jobs/tarmak/tarmak-presubmits.yaml
Labels: approved, area/tarmak, dco-signoff: yes, lgtm, size/S
