Repository cert-manager/testing, pull requests merged in 2020-05, with the labels that each got.

#381 Add goland-dind '1.14.2' version with Bazel 2.0
  images/golang-dind/build.yaml
Labels: approved, area/kube-oidc-proxy, dco-signoff: yes, lgtm, size/XS

#383 Add cert-manager/release presubmit
  config/jobs/cert-manager/release/cert-manager-release-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/S

#380 Roll release-next for 0.15 release
  config/config.yaml
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
  config/plugins.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/L
