Repository cert-manager/testing, pull requests merged in 2020-08, with the labels that each got.

#390 Add periodic to test on openshift 3.11
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/L

#393 Add a Kubernetes 1.19 periodic test
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/L

#394 Adds version-checker prow
  config/jobs/version-checker/OWNERS
  config/jobs/version-checker/version-checker-presubmits.yaml
Labels: approved, dco-signoff: yes, lgtm, size/S

#395 Fix ci-cert-manager-next-openshift-v3-11 test
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/XS

#396 Change always run e2e test to 1.19
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/XS
