Repository cert-manager/testing, pull requests merged in 2020-04, with the labels that each got.

#360 Add optional pull-cert-manager-e2e-openshift-v3-11
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/M

#361 Run the corrent bazelbuild
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/XS

#362 Add extra Docker options for OpenShift
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  images/bazelbuild/runner
Labels: approved, area/cert-manager, area/testing, dco-signoff: yes, lgtm, size/XS

#359 Updates kube-oidc-proxy node image versions and now default 1.17/1.18
  config/jobs/kube-oidc-proxy/kube-oidc-proxy-presubmits.yaml
Labels: approved, area/kube-oidc-proxy, dco-signoff: yes, lgtm, size/L

#364 Fix bug in runner EXTRA_DOCKER_OPTS
  images/bazelbuild/runner
Labels: approved, area/testing, dco-signoff: yes, lgtm, size/XS

#366 Fix --insecure-registry option
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/XS

#367 Add bazelbuild 3.0.0 image and remove 1.0.0
  images/bazelbuild/build.yaml
Labels: approved, area/testing, dco-signoff: yes, lgtm, size/S

#369 cert-manager: add presubmit job with ExperimentalCertificateControllers feature gate enabled
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, size/M

#371 cert-manager: add area/cainjector label
  config/labels.yaml
Labels: approved, dco-signoff: yes, lgtm, size/XS

#372 Remove containers and stop docker in cleanup_dind
  images/bazelbuild/runner
Labels: approved, area/testing, dco-signoff: yes, lgtm, size/XS

#374 bazelbuild: fix docker cleanup
  images/bazelbuild/runner
Labels: approved, area/testing, dco-signoff: yes, lgtm, size/XS

#375 Revert "Automatic bump of bazelbuild jobs"
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
  config/jobs/testing/testing-presubmits.yaml
  config/jobs/testing/testing-trusted.yaml
Labels: approved, area/cert-manager, area/testing, dco-signoff: yes, lgtm, size/L

#377 Adds area/ctl label to cert-manager repo
  config/labels.yaml
Labels: approved, dco-signoff: yes, lgtm, size/XS

#378 cert-manager: require v0.15 milestone for 'master' and 'release-0.15'
  config/config.yaml
Labels: approved, dco-signoff: yes, lgtm, size/S

#379 Add Kubernetes v1.18 jobs for cert-manager
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/L
