Repository cert-manager/testing, pull requests merged in 2020-02, with the labels that each got.

#329 Change Preflight approvers and reviewers
  config/jobs/preflight/OWNERS
Labels: approved, dco-signoff: yes, lgtm, size/XS

#330 Add index periodical job for cert-manager/website
  config/jobs/cert-manager/website/cert-manager-website-periodics.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/M

#331 Enable label_sync for additional repos
  prow/cluster/labelsync_cronjob.yaml
Labels: approved, area/prow, dco-signoff: yes, lgtm, size/XS
