Repository cert-manager/testing, pull requests merged in 2020-12, with the labels that each got.

#404 Adds istio-csr to prow
  config/config.yaml
  config/jobs/istio-csr/OWNERS
  config/jobs/istio-csr/istio-csr-presubmits.yaml
  config/labels.yaml
  config/plugins.yaml
Labels: dco-signoff: yes, do-not-merge/release-note-label-needed, lgtm, size/L

#403 Remove old Kubernetes versions from tests
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/XL

#406 Remove OpenShift 3 tests
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, size/L

#407 Use devel/ci-run-e2e.sh instead of hack/ci/run-e2e-kind.sh
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, release-note-none, size/M

#405 Make cert-manager tests run against 1.20
  config/config.yaml
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, release-note-none, size/L
