Repository cert-manager/testing, pull requests merged in 2020-06, with the labels that each got.

#386 Configure gke cluster explicitly
  config/jobs/testing/testing-periodics.yaml
Labels: approved, area/testing, dco-signoff: yes, lgtm, size/XS

#387 Upgrade Prow to v20200628-cc1c099dad
  config/config.yaml
  config/jobs/testing/testing-presubmits.yaml
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/cherrypick_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/pipeline_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/version
Labels: approved, area/prow, area/testing, dco-signoff: yes, lgtm, size/M

#384 Add triage party deployment manifests
  triage_party/BUILD.bazel
  triage_party/triageparty_configmap.yaml
  triage_party/triageparty_deployment.yaml
  triage_party/triageparty_ingress.yaml
  triage_party/triageparty_service.yaml
Labels: approved, dco-signoff: yes, lgtm, size/XL

#388 Add @meyskens and @zee-ahmed as top-level approvers
  OWNERS
Labels: approved, dco-signoff: yes, lgtm, size/XS
