Repository cert-manager/testing, pull requests merged in 2021-09, with the labels that each got.

#552 Export GINKGO_SKIP/GINKGO_FOCUS env vars in test containers
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/config.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, release-note-none, area/cert-manager

#562 cert-manager release: use make rather than calling a script directly
  config/jobs/cert-manager/release/cert-manager-release-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, release-note-none, area/cert-manager

#567 Use label sync on cert-manager/policy-approver and remove from job list
  config/config.yaml
  config/labels.yaml
  config/plugins.yaml
  prow/cluster/labelsync_cronjob.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved, release-note-none, area/prow

#568 Rename cert-manager-policy-approver presubmits job file
  config/jobs/cert-manager/policy-approver/cert-manager-policy-approver-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, release-note-none, area/cert-manager

#569 Update prow configs
  config/config.yaml
  config/plugins.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, release-note-none, kind/cleanup, area/prow

#570 Adds smoke test to policy-approver
  config/jobs/cert-manager/policy-approver/cert-manager-policy-approver-presubmits.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, release-note-none, area/cert-manager

#571 Renames policy-approver -> approver-policy
  config/jobs/cert-manager/approver-policy/OWNERS
  config/jobs/cert-manager/approver-policy/cert-manager-approver-policy-presubmits.yaml
  prow/cluster/labelsync_cronjob.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved, release-note-none, area/cert-manager, area/prow

#572 Move to Plank V2
  prow/cluster/BUILD.bazel
  prow/cluster/plank_rbac.yaml
  prow/cluster/prow-controller-manager_deployment.yaml
  prow/cluster/prow-controller-manager_rbac.yaml
  prow/cluster/prow-controller-manager_service.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, release-note-none, kind/cleanup, area/prow

#573 Always run smoke tests on approver-policy
  config/jobs/cert-manager/approver-policy/cert-manager-approver-policy-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, release-note-none, area/cert-manager

#575 Yaml indent
  images/golang-dind/build.yaml
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/cherrypick_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/pipeline_deployment.yaml
  prow/cluster/prowjob_customresourcedefinition.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, release-note-none, area/kube-oidc-proxy, area/prow

#576 use Go image for policy approver smoke tests
  config/jobs/cert-manager/approver-policy/cert-manager-approver-policy-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, release-note-none, area/cert-manager

#577 Run smoke test with runner that sets up docker
  config/jobs/cert-manager/approver-policy/cert-manager-approver-policy-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, release-note-none, area/cert-manager

#578 Fix invocation of make in cert-manager/release presubmit
  config/jobs/cert-manager/release/cert-manager-release-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, release-note-none, area/cert-manager

#579 Moves jetstack/cert-manager-csi to cert-manager/csi-driver for new repo
  config/config.yaml
  config/jobs/cert-manager/csi-driver/OWNERS
  config/jobs/cert-manager/csi-driver/cert-manager-csi-driver-presubmits.yaml
  config/labels.yaml
  config/plugins.yaml
  prow/cluster/labelsync_cronjob.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, release-note-none, area/cert-manager, area/prow

#580 Cleanup cert-manager-csi-driver e2e test names
  config/jobs/cert-manager/csi-driver/cert-manager-csi-driver-presubmits.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved, release-note-none, area/cert-manager

#581 Reinstates periodic issue checkers
  config/jobs/testing/testing-periodics.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved, release-note-none, area/testing

#582 Move cert-manager/istio-csr as a member of cert-manager
  config/config.yaml
  config/jobs/cert-manager/istio-csr/OWNERS
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-presubmits.yaml
  config/labels.yaml
  config/plugins.yaml
  prow/cluster/labelsync_cronjob.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, release-note-none, area/cert-manager, area/prow

#583 Fixes yaml indent error
  images/golang-nodejs/build.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, release-note-none

#585 Bazel version bump
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/jobs/testing/testing-presubmits.yaml
  config/jobs/testing/testing-trusted.yaml
  images/golang-dind/build.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, release-note-none, area/testing, area/kube-oidc-proxy, area/cert-manager

#586 Temporarily disable AWS Periodic
  config/jobs/cert-manager/cert-manager-periodics.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, release-note-none, area/cert-manager
