Repository cert-manager/testing, pull requests merged in 2021-10, with the labels that each got.

#588 Bump golang-dind image version for cmrel presubmit
  config/jobs/cert-manager/release/cert-manager-release-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, release-note-none, kind/cleanup, area/cert-manager

#589 Adds cert-manager/csi-driver-spiffe
  config/jobs/cert-manager/csi-driver-spiffe/OWNERS
  config/jobs/cert-manager/csi-driver-spiffe/cert-manager-csi-driver-presubmits.yaml
  config/jobs/cert-manager/csi-driver/cert-manager-csi-driver-spiffe-presubmits.yaml
  prow/cluster/labelsync_cronjob.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, release-note-none, area/cert-manager, area/prow

#591 cert-manager/csi-driver-spiffe
  config/jobs/cert-manager/csi-driver-spiffe/cert-manager-csi-driver-spiffe-presubmits.yaml
  config/jobs/cert-manager/csi-driver/cert-manager-csi-driver-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, release-note-none, area/cert-manager

#592 Adds branch selector for main on cert-manager/csi-driver-spiffe presubmits
  config/jobs/cert-manager/csi-driver-spiffe/cert-manager-csi-driver-spiffe-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, release-note-none, area/cert-manager

#529 Make upgrade test run on each PR
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, release-note-none, kind/cleanup, area/cert-manager

#595 A temporary prow job to see if bazel remote-caching might be slowing down builds
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, release-note-none, area/testing, area/cert-manager
