Repository cert-manager/testing, pull requests merged in 2021-06, with the labels that each got.

#509 Adds istio-csr istio testing version to v1.10.0 and bumps Kube to 1.21
  config/config.yaml
  config/jobs/istio-csr/istio-csr-presubmits.yaml
Labels: approved, area/istio-csr, dco-signoff: yes, lgtm, release-note-none, size/M

#510 Bump cpu for pull-cert-manager-release-verify
  config/jobs/cert-manager/release/cert-manager-release-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#513 Bazel concurrency
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
  hack/verify-kazel.sh
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, release-note-none, size/S

#514 Disables E2E tests for CertificateSigningRequests on kube clusters pre v1.19
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, release-note-none, size/M

#515 Bump cert-manager release versions
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
  config/plugins.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, release-note-none, size/L

#511 Explain why we went with 3500m for the cpu request, cf #510
  config/jobs/cert-manager/release/cert-manager-release-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, release-note-none, size/XS

#516 Updates go version in istio-csr to 1.6
  config/jobs/istio-csr/istio-csr-presubmits.yaml
Labels: approved, area/istio-csr, dco-signoff: yes, lgtm, release-note-none, size/S

#517 Bumps versions for golang-nodejs image
  images/golang-nodejs/build.yaml
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS
