Repository cert-manager/testing, pull requests merged in 2021-05, with the labels that each got.

#482 Disable unused plugins for preflight
  config/plugins.yaml
Labels: dco-signoff: yes, do-not-merge/release-note-label-needed, size/XS

#487 Test previous release with Kubernetes v1.20
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, release-note-none

#489 Switch default cert-manager presubmit test to use K8s 1.21
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, release-note-none, size/M

#490 bump cert-manager-release-previous-presubmits
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, release-note-none, size/M

#491 Require cert-manager presubmits only against k8s 1.21
  config/config.yaml
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#493 Revert "bump cert-manager-release-previous-presubmits"
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, release-note-none, size/M

#494 Temporarily revert "Require cert-manager presubmits only against k8s …
  config/config.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#495 Revert "Temporarily revert "Require cert-manager presubmits only agai…
  config/config.yaml
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#498 Updating RBAC roles to match upstream kubernetes test-infra
  prow/cluster/deck_rbac.yaml
  prow/cluster/hook_rbac.yaml
  prow/cluster/horologium_rbac.yaml
  prow/cluster/pipeline_rbac.yaml
  prow/cluster/plank_rbac.yaml
  prow/cluster/sinker_rbac.yaml
  prow/cluster/statusreconciler_rbac.yaml
  prow/cluster/tide_rbac.yaml
Labels: approved, area/prow, dco-signoff: yes, lgtm, size/L

#501 Add presubmits for cert-manager/csi-lib
  config/jobs/cert-manager/csi-lib/cert-manager-csi-lib-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, release-note-none, size/S

#502 Upgrade cert-manager-csi base image, k8s version & cert-manager version
  config/jobs/cert-manager-csi/cert-manager-csi-presubmits.yaml
Labels: approved, area/cert-manager-csi, dco-signoff: yes, lgtm, release-note-none, size/XS

#500 Add cert-manager/csi-lib to the labelsync cronjob
  prow/cluster/labelsync_cronjob.yaml
Labels: approved, area/prow, dco-signoff: yes, lgtm, release-note-none, size/XS

#503 Request less cpu for e2e tests
  config/jobs/cert-manager-csi/cert-manager-csi-presubmits.yaml
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
  config/jobs/istio-csr/istio-csr-presubmits.yaml
  config/jobs/kube-oidc-proxy/kube-oidc-proxy-presubmits.yaml
  config/jobs/policy-approver/policy-approver-presubmits.yaml
Labels: approved, area/cert-manager, area/cert-manager-csi, area/istio-csr, area/kube-oidc-proxy, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#504 Add `pod_unscheduled_timeout` and `pod_running_timeout` config
  config/config.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS
