Repository cert-manager/testing, pull requests merged in 2021-11, with the labels that each got.

#607 Adds presubmit job for cert-manager/istio-csr targeting istio v1.11.4
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-presubmits.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, area/cert-manager

#606 Remove old tests + run release-next periodics less frequently
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
Labels: dco-signoff: yes, size/XL, lgtm, approved, area/cert-manager

#609 Adds verify and smoke tests for cert-manager/approver-policy-rego to prow tests
  config/jobs/cert-manager/approver-policy-rego/OWNERS
  config/jobs/cert-manager/approver-policy-rego/cert-manager-approver-policy-rego-presubmits.yaml
  prow/cluster/labelsync_cronjob.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, area/cert-manager, area/prow

#608 bump kube version for our custom kind image
  images/kind/build.sh
Labels: size/XS, dco-signoff: yes, lgtm, approved

#610 Adds periodic and optional presubmit to e2e test cert-manager on kube 1.23
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, area/cert-manager
