Repository cert-manager/testing, pull requests merged in 2021-07, with the labels that each got.

#518 Adds a new CI image with Bazel
  config/jobs/testing/testing-trusted.yaml
  images/bazel-tools/Dockerfile
  images/bazel-tools/build.yaml
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/M

#521 Use a semver Docker tag
  images/bazel-tools/build.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#522 Adds GOPATH/bin to path
  images/bazel-tools/Dockerfile
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#523 Allows to trigger Venafi Cloud e2e tests separately
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, release-note-none, size/M

#508 Disable prowjob analysis for jobs on trusted cluster
  config/jobs/cert-manager/website/cert-manager-website-periodics.yaml
  config/jobs/testing/testing-trusted.yaml
Labels: approved, area/cert-manager, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/S

#524 Venafi Cloud test needs Venafi Cloud creds
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, release-note-none, size/XS

#526 Upgrade test
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  prow/README.md
  prow/pj-on-kind.sh
Labels: approved, area/cert-manager, area/prow, dco-signoff: yes, lgtm, release-note-none, size/L

#527 Build new CI images with go v1.16.6
  images/golang-dind/build.yaml
  images/golang-nodejs/build.yaml
Labels: approved, area/kube-oidc-proxy, dco-signoff: yes, lgtm, release-note-none, size/XS

#530 Adds cert-manager/trust CI tests
  config/config.yaml
  config/jobs/cert-manager-trust/OWNERS
  config/jobs/cert-manager-trust/cert-manager-trust-presubmits.yaml
  config/labels.yaml
  config/plugins.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/L

#531 Change target smoke test branch from master to main
  config/jobs/cert-manager-trust/cert-manager-trust-presubmits.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#532 Bumps cert-manager website golang image tag to 1.16
  config/jobs/cert-manager/website/cert-manager-website-periodics.yaml
  config/jobs/cert-manager/website/cert-manager-website-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, release-note-none, size/XS

#533 Adds a job to build and push a KIND image for custom Kubernetes version
  config/jobs/testing/testing-trusted.yaml
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#534 Kind image script
  images/README.md
  images/kind/build.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/M

#535 Corrects registry name
  images/kind/build.sh
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#536 Adds an optional Prow job to run cert-manager e2e tests against k8s 1.22
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#537 Updates our kube v1.22 version to V1.22.0-rc.0
  images/kind/build.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#538 fix links in images readme
  images/README.md
Labels: approved, dco-signoff: yes, lgtm, needs-ok-to-test, release-note-none, size/XS
