Repository cert-manager/testing, pull requests merged in 2021-08, with the labels that each got.

#539 adding image needed for aws tests
  config/jobs/testing/testing-trusted.yaml
  images/golang-aws/Dockerfile
  images/golang-aws/build.yaml
Labels: approved, area/testing, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/L

#540 Bump k8s version for v1.22 image
  images/kind/build.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#541 triggering aws image generation
  images/golang-aws/Dockerfile
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/XS

#542 adding go version argument to golang-aws image
  images/golang-aws/build.yaml
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/XS

#543 Enable Gateway API Feature gate on k8s 1.19+
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, release-note-none, area/cert-manager

#544 \\ -> \\\\
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved, release-note-none, area/cert-manager

#545 \\\\, -> ,
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
Labels: dco-signoff: yes, size/S, needs-ok-to-test, lgtm, approved, release-note-none, area/cert-manager

#512 adding a periodic job for testing on eks cluster
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/config.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, release-note-none, ok-to-test, area/testing, area/cert-manager

#546 fixing the aws periodic job and adding a presubmit job
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, release-note-none, ok-to-test, area/cert-manager

#547 spacing fix for aws jobs
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, release-note-none, ok-to-test, area/cert-manager

#548 adding absolute path in aws tests
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, release-note-none, ok-to-test, area/cert-manager

#550 fixing the absolute path in aws tests
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, release-note-none, ok-to-test, area/cert-manager

#553 Bump releases
  config/config.yaml
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
  config/plugins.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, release-note-none, area/cert-manager

#556 Run e2e tests for cert-manager previous release against k8s v1.22
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, release-note-none, area/cert-manager

#555 fixing path in aws periodic job
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, release-note-none, ok-to-test, area/cert-manager

#557 removing the presubmit aws job
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, release-note-none, ok-to-test, area/cert-manager

#558 Enable Gateway API features in release-previous
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, release-note, area/cert-manager

#560 Adds go 1.17 variants for all Go images
  images/golang-aws/build.yaml
  images/golang-dind/build.yaml
  images/golang-nodejs/build.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved, release-note-none, kind/cleanup, area/kube-oidc-proxy

#563 Adds moreutils to bazelbuild
  images/bazelbuild/Dockerfile
Labels: size/XS, dco-signoff: yes, lgtm, approved, release-note-none, area/testing

#565 Bump bazel to 4.2.1
  images/bazelbuild/build.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, release-note-none, area/testing
