Repository cert-manager/testing, pull requests merged in 2021-04, with the labels that each got.

#466 Bump cert-manager version
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
  config/plugins.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, release-note-none, size/M

#467 Adds cert-manager team to top OWNERS file
  OWNERS
Labels: approved, dco-signoff: yes, lgtm, size/XS

#456 Prow: disable blunderbuss (auto PR assignments)
  config/plugins.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#465 Enables GCS reporter
  prow/cluster/crier_deployment.yaml
Labels: approved, area/prow, dco-signoff: yes, lgtm, release-note, size/XS

#468 Update Prow to newest version
  config/config.yaml
  config/jobs/testing/testing-presubmits.yaml
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/cherrypick_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/lego_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/pipeline_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/pushgateway.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/version
Labels: approved, area/prow, area/testing, dco-signoff: yes, lgtm, release-note-none, size/M

#469 Remove the reference to a non-existent config entry
  config/jobs/cert-manager-csi/cert-manager-csi-presubmits.yaml
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
  config/jobs/cert-manager/release/cert-manager-release-presubmits.yaml
  config/jobs/cert-manager/webhook-example/cert-manager-webhook-example-presubmits.yaml
  config/jobs/cert-manager/website/cert-manager-website-presubmits.yaml
  config/jobs/istio-csr/istio-csr-presubmits.yaml
  config/jobs/kube-oidc-proxy/kube-oidc-proxy-presubmits.yaml
  config/jobs/preflight/preflight-presubmits.yaml
  config/jobs/testing/testing-periodics.yaml
  config/jobs/version-checker/version-checker-presubmits.yaml
Labels: approved, area/cert-manager, area/cert-manager-csi, area/istio-csr, area/kube-oidc-proxy, area/testing, dco-signoff: yes, lgtm, release-note-none, size/M

#471 Passes GCP creds file to crier
  prow/cluster/crier_deployment.yaml
Labels: approved, area/prow, dco-signoff: yes, lgtm, release-note-none, size/XS

#475 Move release previous to be v1.3
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#474 Bazel v2.2.0-> v3.7.2 for cm release-next
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#472 Pass kubeconfig for build cluster to crier
  prow/cluster/crier_deployment.yaml
Labels: approved, area/prow, dco-signoff: yes, kind/bug, lgtm, release-note-none, size/XS

#470 Notes taken during today's prow meeting with James Munnelly
  prow/README.md
Labels: approved, area/prow, dco-signoff: yes, lgtm, release-note-none, size/L

#478 triageparty: upgrade from 1.2.1 to 1.3.0 to fix "similar" bug
  triage_party/triageparty_deployment.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#481 Disable pre and post commit hooks for preflight as we are using Github actions now
  config/config.yaml
  config/jobs/preflight/OWNERS
  config/jobs/preflight/preflight-postsubmits.yaml
  config/jobs/preflight/preflight-presubmits.yaml
Labels: approved, dco-signoff: yes, lgtm, size/L

#483 Adds cert-manager/policy-approver tests
  config/config.yaml
  config/jobs/policy-approver/OWNERS
  config/jobs/policy-approver/policy-approver-presubmits.yaml
  config/labels.yaml
  config/plugins.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#484 Changes k8s version for policy-approver to 1.20.2
  config/jobs/policy-approver/policy-approver-presubmits.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#485 Change policy-approver job required from 1.21 to 1.20
  config/config.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS
