Repository cert-manager/testing, pull requests merged in 2021-01, with the labels that each got.

#408 Use devel/ci-run-e2e.sh instead of hack/ci/run-e2e-kind.sh
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, release-note-none, size/XS

#409 Temporarily skip Venafi TPP tests while the test server is offline
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, release-note-none, size/M

#410 Disable tide for preflight-platform
  config/config.yaml
Labels: dco-signoff: yes, do-not-merge/release-note-label-needed, lgtm, size/XS

#412 Reenable venafi e2e tests
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, lgtm, release-note-none, size/M

#413 Update Maartje's email
  config/jobs/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/jobs/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, do-not-merge/release-note-label-needed, lgtm, size/M

#414 Updates golang-dind to 1.15.7
  images/golang-dind/build.yaml
Labels: approved, area/kube-oidc-proxy, dco-signoff: yes, do-not-merge/release-note-label-needed, lgtm, size/XS

#416 Stop TPP tests (again)
  config/jobs/cert-manager/cert-manager-presubmits.yaml
Labels: approved, area/cert-manager, dco-signoff: yes, do-not-merge/release-note-label-needed, lgtm, size/M

#418 Update istio-csr e2e pull CI to use golang-dind 1.15.7
  config/jobs/istio-csr/istio-csr-presubmits.yaml
Labels: approved, area/istio-csr, dco-signoff: yes, do-not-merge/release-note-label-needed, lgtm, size/XS

#419 Adds istio-csr istio versions 1.6, 1.7, 1.8
  config/jobs/istio-csr/istio-csr-presubmits.yaml
Labels: approved, area/istio-csr, dco-signoff: yes, do-not-merge/release-note-label-needed, lgtm, size/L

#420 Adds new istio-csr pull to config/config.yaml
  config/config.yaml
Labels: dco-signoff: yes, lgtm, size/XS

#421 Corrects the pull runner image
  config/jobs/istio-csr/istio-csr-presubmits.yaml
Labels: approved, area/istio-csr, dco-signoff: yes, lgtm, release-note-none, size/XS

#422 Remote istio 1.6 istio-csr e2e test
  config/jobs/istio-csr/istio-csr-presubmits.yaml
Labels: approved, area/istio-csr, dco-signoff: yes, do-not-merge/release-note-label-needed, lgtm, size/M

#423 Remote istio 1.6 from required
  config/config.yaml
Labels: dco-signoff: yes, do-not-merge/release-note-label-needed, lgtm, size/XS
