Repository cert-manager/testing, pull requests merged in 2022-05, with the labels that each got.

#662 Add golang-dind variant for go v1.18.1
  images/golang-dind/build.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/kube-oidc-proxy

#664 Update cert-manager/trust runners to use go v1.18
  config/jobs/cert-manager-trust/cert-manager-trust-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved

#665 Update cert-manager/approver-policy test runners to use golang v1.18
  config/jobs/cert-manager/approver-policy/cert-manager-approver-policy-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/cert-manager

#666 Update cert-manager/csi-driver test runners to use go v1.18
  config/jobs/cert-manager/csi-driver/cert-manager-csi-driver-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/cert-manager

#667 Update cert-manager/csi-driver-spiffe test runners to use go v1.18
  config/jobs/cert-manager/csi-driver-spiffe/cert-manager-csi-driver-spiffe-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/cert-manager

#668 Updates cert-manager/csi-lib test runners to use v1.18
  config/jobs/cert-manager/csi-lib/cert-manager-csi-lib-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/cert-manager

#669 Update cert-manager/istio-csr test runners to use golang v1.18
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-presubmits.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved, area/cert-manager

#670 Build kind with Kubernetes 1.24
  images/kind/build.sh
Labels: size/XS, dco-signoff: yes, lgtm, approved

#672 Pin configurator to a particular version
  config/jobs/testing/testing-presubmits.yaml
  config/jobs/testing/testing-trusted.yaml
  config/testgrid/dashboards.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved, area/testing

#671 Removes retest ProwJob
  config/jobs/testing/testing-periodics.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, area/testing

#675 Adds a new presubmit for Kubernetes 1.24
  config/jobs/cert-manager/cert-manager/cert-manager-presubmits.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, area/cert-manager

#677 Adds a semversort tool
  images/bazel-tools/Dockerfile
  images/bazel-tools/semversort.sh
Labels: dco-signoff: yes, size/M, lgtm, approved

#678 Adds kube 1.24 periodics
  config/jobs/cert-manager/cert-manager/cert-manager-periodics.yaml
Labels: dco-signoff: yes, lgtm, approved

#660 1.8 test jobs
  config/jobs/cert-manager/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
  config/plugins.yaml
Labels: dco-signoff: yes, size/XXL, lgtm, approved, area/cert-manager

#679 Run make ci-presubmit as well as unit tests
  config/jobs/cert-manager/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager/cert-manager-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/cert-manager

#680 Install jq in bazelbuild image
  images/bazelbuild/Dockerfile
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/testing

#682 Bump bazelbuild to new image, update Make jobs
  config/jobs/cert-manager/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
Labels: dco-signoff: yes, size/XL, lgtm, approved, area/cert-manager

#683 Run 'previous' tests against kube 1.24
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
Labels: dco-signoff: yes, size/XL, lgtm, approved, area/cert-manager

#685 Cleanup
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, area/cert-manager

#686 [Cleanup] clean up TestGrid annotations, remove context value
  config/jobs/cert-manager/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, area/cert-manager

#688 Adds a missing dash
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved, area/cert-manager
