Repository cert-manager/testing, pull requests merged in 2022-06, with the labels that each got.

#692 Make for all e2e
  config/config.yaml
  config/jobs/cert-manager/cert-manager/cert-manager-presubmits.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, area/cert-manager

#694 Revert previous jobs to their actual config on release day
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
Labels: dco-signoff: yes, size/XL, lgtm, approved, area/cert-manager

#696 Run 1.8 presubmits with Bazel, ensure SSA disabled for kube below 1.22
  config/config.yaml
  config/jobs/cert-manager/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, area/cert-manager

#697 Use our own fork of goversion
  images/bazel-tools/Dockerfile
Labels: size/XS, dco-signoff: yes, lgtm, approved

#699 Mount download cache as `_bin`
  config/jobs/cert-manager/config.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/cert-manager

#701 Enable periodic tests for release-1.9 branch
  config/jobs/cert-manager/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/testgrid/dashboards.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, area/cert-manager

#702 Don't run unit/integration tests with bazel where we use make
  config/jobs/cert-manager/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, area/cert-manager

#703 Remove bazel + verify_deps presubmits
  config/jobs/cert-manager/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager/cert-manager-presubmits.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, area/cert-manager

#704 Bump base
  images/bazelbuild/Dockerfile
  images/bazelbuild/build.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved, area/testing

#698 cert-manager/istio-csr: updates kube to v1.24.1 and adds istio job for 1.14.1
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-presubmits.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, area/cert-manager

#707 Bump golang dind
  images/golang-dind/Dockerfile
  images/golang-dind/build.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved, area/kube-oidc-proxy

#709 Bumps a bunch of versions for bazel-tools image
  images/bazel-tools/Dockerfile
  images/bazel-tools/build.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved

#710 Don't test using bazel on master
  config/config.yaml
  config/jobs/cert-manager/cert-manager/cert-manager-presubmits.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, area/cert-manager

#711 Removes pull-cert-manager-deps test from required tests
  config/config.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved
