Repository cert-manager/testing, pull requests merged in 2022-02, with the labels that each got.

#624 Move cert-manager to the github.com/cert-manager organization
  config/config.yaml
  config/jobs/cert-manager/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/jobs/cert-manager/cert-manager/release-previous/README.md
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
  config/jobs/testing/testing-periodics.yaml
  config/labels.yaml
  config/plugins.yaml
  legacy/README.md
  prow/cluster/labelsync_cronjob.yaml
  triage_party/triageparty_configmap.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, area/testing, area/cert-manager, area/prow

#621 Test csi-lib with Go 1.17
  config/jobs/cert-manager/csi-lib/cert-manager-csi-lib-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/cert-manager

#625 upgrade go version to 1.17 for webhook-example
  config/jobs/cert-manager/webhook-example/cert-manager-webhook-example-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, ok-to-test, area/cert-manager

#627 Remove legacy config
  legacy/README.md
  legacy/bootstrap/bootstrap.py
  legacy/bootstrap/runner
  legacy/images/gcloud-in-go/Dockerfile
  legacy/images/gcloud-in-go/README.md
  legacy/images/minikube-in-go/Dockerfile
  legacy/jobs/config.json
  legacy/scenarios/execute.py
  legacy/scenarios/minikube.py
Labels: dco-signoff: yes, size/XXL, lgtm, approved

#628 Simplify the branches list
  config/jobs/cert-manager/webhook-example/cert-manager-webhook-example-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/cert-manager

#631 Run a periodic job every 24h to run cert-manager e2e tests with all feature gates disabled
  config/jobs/cert-manager/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-periodics.yaml
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
  config/jobs/cert-manager/config.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, area/cert-manager

#632 Adds e2e presubmit jobs for istio-csr targeting istio v1.13
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-presubmits.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, area/cert-manager

#633 Removes the legacy update_index job
  config/jobs/cert-manager/website/cert-manager-website-periodics.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, area/cert-manager

#634 Disable branch protection bot on pca issuer repo
  config/config.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved
