Repository cert-manager/testing, pull requests merged in 2022-07, with the labels that each got.

#712 Update upgrade test to reference new target
  config/jobs/cert-manager/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager/cert-manager-presubmits.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved, area/cert-manager

#717 fix upgrade test dashboard for release-next
  config/jobs/cert-manager/cert-manager/release-next/cert-manager-release-next-periodics.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/cert-manager

#720 Temporarily disable make caching
  config/jobs/cert-manager/config.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, area/cert-manager

#721 Add presubmits for release-next
  config/jobs/cert-manager/cert-manager/release-next/cert-manager-release-next-presubmits.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, area/cert-manager

#722 Removes cert-manager/istio-csr e2e tests targeting istio version v1.7 to v1.9
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-presubmits.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, area/cert-manager

#723 Use generated tests!
  config/jobs/cert-manager/cert-manager/cert-manager-periodics.yaml
  config/jobs/cert-manager/cert-manager/cert-manager-presubmits.yaml
  config/jobs/cert-manager/cert-manager/cert-manager.yaml
  config/jobs/cert-manager/cert-manager/release-next/README.md
  config/jobs/cert-manager/cert-manager/release-next/cert-manager-release-next-periodics.yaml
  config/jobs/cert-manager/cert-manager/release-next/cert-manager-release-next-presubmits.yaml
  config/jobs/cert-manager/cert-manager/release-next/notests.yaml
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-periodics-1.8-only.yaml
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-presubmits-1.8-only.yaml
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous.yaml
  config/testgrid/dashboards.yaml
Labels: dco-signoff: yes, size/XXL, lgtm, approved, area/cert-manager
