Repository cert-manager/testing, pull requests merged in 2022-11, with the labels that each got.

#772 Rename trust to trust-manager
  config/config.yaml
  config/jobs/cert-manager/trust-manager/OWNERS
  config/jobs/cert-manager/trust-manager/trust-manager-presubmits.yaml
  config/labels.yaml
  config/plugins.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved

#773 Apply updated prow config from cmrel
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.10/cert-manager-release-1.10.yaml
  config/jobs/cert-manager/cert-manager/release-1.9/cert-manager-release-1.9.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved, area/cert-manager

#775 add trivy tests for release-1.10 branch
  config/jobs/cert-manager/cert-manager/release-1.10/cert-manager-release-1.10.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, area/cert-manager
