Repository cert-manager/testing, pull requests merged in 2022-08, with the labels that each got.

#724 Generate tests based on branches, not modes
  config/jobs/cert-manager/cert-manager/README.md
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.8/README.md
  config/jobs/cert-manager/cert-manager/release-1.8/cert-manager-1.8.yaml
  config/jobs/cert-manager/cert-manager/release-1.8/cert-manager-bazel-periodics-1.8-only.yaml
  config/jobs/cert-manager/cert-manager/release-1.8/cert-manager-bazel-presubmits-1.8-only.yaml
  config/jobs/cert-manager/cert-manager/release-1.9/cert-manager-1.9.yaml
  config/jobs/cert-manager/cert-manager/release-next/README.md
  config/jobs/cert-manager/cert-manager/release-next/notests.yaml
  config/jobs/cert-manager/cert-manager/release-previous/README.md
  config/testgrid/dashboards.yaml
Labels: dco-signoff: yes, size/XXL, lgtm, approved, area/cert-manager

#725 Adds golang-dind image using go v1.19.0
  images/golang-dind/build.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/kube-oidc-proxy

#728 Regenerate master prow jobs
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, area/cert-manager

#729 Regenerate master prow files (fix wrong tag)
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, area/cert-manager

#730 update names of required checks
  config/config.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved

#732 Remove go-dind v1.19.0 image
  images/golang-dind/build.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/kube-oidc-proxy

#733 Re-adds golang image v1.19.0
  images/golang-dind/build.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/kube-oidc-proxy

#731 Move `cert-manager-trust` job to `cert-manager/trust`
  config/jobs/cert-manager/trust/OWNERS
  config/jobs/cert-manager/trust/cert-manager-trust-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/cert-manager

#727 Update cert-manager master branch milestone
  config/plugins.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved

#734 Config jobs cert manager trust go v1.19
  config/jobs/cert-manager/trust/cert-manager-trust-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/cert-manager

#736 add dind for trivy jobs
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/cert-manager

#737 update ingress class annotation to use new ingress controller
  triage_party/triageparty_ingress.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved

#738 Add cosign to bazel-tools image
  images/bazel-tools/Dockerfile
  images/bazel-tools/build.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved

#739 add gcr.io registry mirror to bazelbuild
  images/bazelbuild/Dockerfile
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/testing

#741 update bazelbuild image for cert-manager-master to bazelbuild:20220812-2f64076-4.2.1
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, area/cert-manager

#742 Updates cert-manager/approver-policy test runners to use go v1.19
  config/jobs/cert-manager/approver-policy/cert-manager-approver-policy-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/cert-manager

#743 update ingress class annotation for prow ingress
  prow/cluster/tls-ing_ingress.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, area/prow

#744 Change cert-manager/cert-manager required contexts to be per branch.
  config/config.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved

#745 Revert "Make sure that the "runner" command passes SIGINT down to the command that it calls (bazelbuild image)"
  images/bazelbuild/runner
Labels: dco-signoff: yes, size/M, lgtm, approved, area/testing

#746 Make sure that the "runner" command passes SIGINT and SIGTERM down to the command that it calls (bazelbuild image)
  images/bazelbuild/runner
Labels: dco-signoff: yes, size/M, lgtm, approved, area/testing

#747 Apply patch generated by release tool
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.8/cert-manager-release-1.8.yaml
  config/jobs/cert-manager/cert-manager/release-1.9/cert-manager-release-1.9.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, area/cert-manager

#748 add preStop hook to upload kind logs
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, area/cert-manager
