Repository cert-manager/testing, pull requests merged in 2022-03, with the labels that each got.

#635 Adds some debugging tips
  README.md
Labels: dco-signoff: yes, size/S, lgtm, approved

#636 Bumps Go 1.17 version to latest patch version
  images/golang-dind/build.yaml
  images/golang-nodejs/build.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/kube-oidc-proxy

#639 Explicitly specify transfigure version
  config/jobs/testing/testing-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/testing

#640 Removes approver-policy-rego
  config/jobs/cert-manager/approver-policy-rego/OWNERS
  config/jobs/cert-manager/approver-policy-rego/cert-manager-approver-policy-rego-presubmits.yaml
  prow/cluster/labelsync_cronjob.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, area/cert-manager, area/prow

#641 Bump prow
  README.md
  prow/README.md
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/cherrypick_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/crier_rbac.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/pipeline_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/version
  triage_party/triageparty_ingress.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, area/prow

#643 Add optional presubmit jobs "make-test" and "make-e2e-v1-23"
  config/jobs/cert-manager/cert-manager/cert-manager-presubmits.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, area/cert-manager

#645 Presubmits: apk add tar and grep into the busybox alpine images
  config/jobs/cert-manager/cert-manager/cert-manager-presubmits.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved, area/cert-manager

#646 Presubmits: for now, keep using the bazelbuild image
  config/jobs/cert-manager/cert-manager/cert-manager-presubmits.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved, area/cert-manager

#647 Presubmits: another follow-up, remove "sudo" and add "-j"
  config/jobs/cert-manager/cert-manager/cert-manager-presubmits.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved, area/cert-manager

#648 Presubmits: enable make test-ci and make e2e-ci by default
  config/jobs/cert-manager/cert-manager/cert-manager-presubmits.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved, area/cert-manager

#649 Change test matrix for cert-manager-previous presubmits
  config/jobs/cert-manager/cert-manager/release-previous/cert-manager-release-previous-presubmits.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, area/cert-manager

#651 Presubmits: add a cache for make jobs
  config/config.yaml
  config/jobs/cert-manager/cert-manager/cert-manager-presubmits.yaml
Labels: dco-signoff: yes, size/M, lgtm, approved, area/cert-manager
