Repository cert-manager/testing, pull requests merged in 2023-02, with the labels that each got.

#787 Run best-practice installation tests daily
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.10/cert-manager-release-1.10.yaml
  config/jobs/cert-manager/cert-manager/release-1.11/cert-manager-release-1.11.yaml
  config/jobs/cert-manager/config.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, area/cert-manager

#788 Add netlify preview to the list of required checks
  config/config.yaml
Labels: size/XS, dco-signoff: yes, lgtm, approved

#789 Remove the prow job for pull-cert-manager-website-verify
  config/jobs/cert-manager/website/cert-manager-website-presubmits.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved, area/cert-manager

#791 Removes 1.21 tests
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
Labels: size/L, dco-signoff: yes, lgtm, approved, area/cert-manager

#792 Adds 'test' presubmit separate from the 'verify' target.
  config/jobs/cert-manager/approver-policy/cert-manager-approver-policy-presubmits.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved, area/cert-manager

#793 Bump go version to 1.19 in istio-csr presubmits
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-presubmits.yaml
Labels: dco-signoff: yes, size/S, needs-ok-to-test, lgtm, approved, area/cert-manager

#794 Use k8s 1.26 and istio 1.15, 1.16, 1.17 for istio-csr tests
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-presubmits.yaml
Labels: size/L, dco-signoff: yes, needs-ok-to-test, lgtm, approved, area/cert-manager

#790 Update triageparty config
  triage_party/triageparty_configmap.yaml
  triage_party/triageparty_deployment.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved

#797 Bump go version to 1.19 for csi-lib test
  config/jobs/cert-manager/csi-lib/cert-manager-csi-lib-presubmits.yaml
Labels: size/XS, dco-signoff: yes, needs-ok-to-test, lgtm, approved, area/cert-manager

#796 Various config improvements
  config/config.yaml
  config/plugins.yaml
Labels: dco-signoff: yes, size/S, lgtm, approved
